@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --primary-color: #171717;
    --btn-primary-bg: #2563ea;
    --btn-secondary-bg: #f3f4f6;
}
html{
    scroll-behavior: smooth;
}

.bg-primary{
    @apply bg-[#171717];
}


/* Text  */

.text-primary{
    @apply text-[#fff] dark:text-[#000];
}
.text-secondary{
    @apply text-[#969692] hover:text-[#d1d1ce]; ;
}




/* Button  */
.btn{
    @apply px-4 py-2 rounded-md hover:scale-105 transition-all duration-300 ease-in-out;
}
.btn-primary{
    @apply bg-[#2563ea] border-[#2563ea] text-white hover:bg-[#1855da] ;
}
.btn-secondary{
    @apply bg-[#262626] border-[#262626] text-white hover:bg-[#383838] hover:border-[#383838] ;
}




/* Card  */

.card{
    @apply rounded-md p-4;
}

/* Input  */
.input{
    @apply rounded-sm focus:outline-none focus:ring-2 focus:ring-blue-500;
}