@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --primary-color: #171717;
    --btn-primary-bg: #2563ea;
    --btn-secondary-bg: #f3f4f6;
}
html{
    scroll-behavior: smooth;
}

.bg-primary{
    @apply bg-[#171717];
}

.btn{
    @apply  rounded-sm;
}

.select{
    @apply rounded-sm;
}

/* Text  */

.text-primary{
    @apply text-[#fff] dark:text-[#000];
}
.text-secondary{
    @apply text-[#969692] hover:text-[#d1d1ce]; ;
}




/* Button  */




/* Card  */

.card{
    @apply  bg-white border border-gray-200 rounded-lg p-6;
}

/* Input  */
.input{
    @apply rounded-sm focus:outline-none focus:ring-2 focus:ring-blue-500;
}